In [25]:
#lists
a=[4,53,3,4,3,54]
a.append(3) #it appends the value(3) to list a
a.pop()#it removes the value at last index
a.remove(4)#it removes the value 4 
a.extend([5,3,2])# it add's the multiple values into a
a.index(53) # it returns the index value of 53 
#a.clear()# it clear the all values in alist
a.sort()# it can sort the all value in the list
a.sort(reverse=True)#it re

In [26]:
del(a[:3])#it deletes th first 3 index positions
c=a.copy()# it copys list a into c

In [27]:
# tuple
b=(4,3,54,3,2)
b.count(3)# it returns howmany time 3 value inside the tuple
b.index(2)#it shows the index position of the value 2

4

In [28]:
#set
a={4,3,5,4,33,6,21,9}
b={21,1,3,6,43,23,11,35}
a.add(45)#45 can add into set a
a.pop()#it removes the random value in the a set
a.update({9,6,42,232})# it add multiple values into a list
a.union(b)# it shows  in both set what values are same (we can write:a|b)
a.intersection(b)# its reciprocal of union(we can write: a&b)
a.difference(b)# it shows what values a does not have in b ( we can write : a-b)
a.symmetric_difference(b) # it shows the what values difference between a and b (we can write :a^b)
a.isdisjoint(b)# it shows true or false (determins whether or not two sets have any elements in common)
a.issubset(b)#whether one set is subset of the others(we can write :a<=b)
a.issuperset(b)#it is reciprocal of the subset
a.intersection_update(b)# it updates the intersection of the values into b
a.difference_update(b)#it updates the difference values in a
a.symmetric_difference_update(b)# it updates what values difference between a and b
a.discard(23)#it delete the value if that value in side the set

In [29]:
#dictionary
a={"hari":[4,3,53],"giri":"9485949494","nani":"friend"}
a.update({"arif":232})

In [30]:
a.get("nani",4)

'friend'

In [31]:
a.keys()

dict_keys(['hari', 'giri', 'nani', 'arif'])

In [32]:
a.values()

dict_values([[4, 3, 53], '9485949494', 'friend', 232])

In [33]:
a.items()

dict_items([('hari', [4, 3, 53]), ('giri', '9485949494'), ('nani', 'friend'), ('arif', 232)])

In [34]:
a.setdefault("ari",[3,43])

[3, 43]

In [35]:
#a.pop("nari")

In [36]:
a

{'hari': [4, 3, 53],
 'giri': '9485949494',
 'nani': 'friend',
 'arif': 232,
 'ari': [3, 43]}

In [37]:
a.popitem()

('ari', [3, 43])

In [38]:
a

{'hari': [4, 3, 53], 'giri': '9485949494', 'nani': 'friend', 'arif': 232}

In [39]:
a.fromkeys("nari",43)

{'n': 43, 'a': 43, 'r': 43, 'i': 43}

In [40]:
a

{'hari': [4, 3, 53], 'giri': '9485949494', 'nani': 'friend', 'arif': 232}

In [41]:
frozenset("nari")

frozenset({'a', 'i', 'n', 'r'})

In [42]:
val=[3,43,4,3,4,2,4]
if 3 in val:
    print("hai")
else:
    print("bye")

hai

In [43]:
for i in sorted(val):
    print(i)

2
3
3
4
4
4
43

In [44]:
for i,k in enumerate(sorted(val),101):
    print(i,k)
    
else:
    print("thank you")

101 2
102 3
103 3
104 4
105 4
106 4
107 43
thank you

In [45]:
#plaindrom number
a=int(input("enter the number :"))
s=0
g=a
while a>=0:
    rem=a%10
    s=s*10+rem
    a//=10
if g==s:
    print("its an palindrom number")
else:
    print("you number its not a palindrom number")

enter the number :

ValueError: invalid literal for int() with base 10: ''

In [ ]:
#armstrong number
count=0
a=int(input("enter the number :"))
u=a
s=0
t=a
while a>=0:
    count+=1
    a//=10
while u>=0:
    rem=u%10
    s=s+rem**count
    u//=10
if t==s:
    print("its an armstrong number")
else:
    print("its not an armstrong number")

enter the number :445